* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Caveat Brush', cursive;
    text-transform: uppercase;
    font-size: 22px;
    background-image: url(../img/backwood.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
    margin: 0 35px 0 0 ;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    border-bottom: 8px solid #E53F6F;
    border-width: 5px;
}

#soir {
    font-size: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#underline {
    border-top: 5px solid pink;
    width: 20px; 
}
#hr1 {
    width: 28px;
    height: 10px;
    text-align: center;
    align-self: center;
    background-color: #E53F6F;
    border: none;
    margin-top: 5px;
}

#cerf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

#triangle {
    width: 0;
	height: 0;
	border-width: 0 200px 200px 0;
	border-color: transparent #E53F6F transparent transparent;
	border-style: solid;
    position: absolute;
}

#img1 {
    z-index: 1;
}

#arrow {
    border: solid #E53F6F;
    border-width: 0 3px 3px 0;
    display:block;
    width: 30px;
    padding: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: auto;
  }

  #story, #fare, #drink {
      display: flex;
  }
  #fare {
      flex-direction: row-reverse;
  }

  .arti13 {
      width: 35%;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .image {
      width: 65%;
      height: 800px;
  }

  .imgclass {
      width: 100%;
      height: 800px;
      transform: scaleX(-1);
  }

  .text {
      padding: 80px;
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 15px;
  }

  h2 {
      text-transform: uppercase;
      font-size: 38px;
      font-weight: bolder;
  }

  .hr2 {
    width: 35px;
    height: 10px;
    text-align: center;
    align-self: center;
    background-color: #E53F6F;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
}

.pinktext {
    margin-top: 15px;
    color: #E53F6F;
    font-weight: bolder;
    text-transform: uppercase;
}

.arti2 {
    width: 30%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgclass2 {
    width: 100%;
    height: 800px;
}

.image2 {
    width: 70%;
    height: 800px;
}

#imgraine {
    width: 200px;
    align-self: center;
    margin-bottom: 20px;
}

#imgraine2 {
    width: 250px;
    align-self: center;
}

.image3 {
    width: 100%;
    height: 800px;
}

footer {
    background: url(../img/motif.jpg);
    background-repeat: repeat;
    background-size: 250px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    margin-left: 80px;
}

/* .pfooter {
    text-transform: uppercase;
    letter-spacing: -1px;
} */
address p:nth-of-type(1n+1) {
    text-transform: uppercase;
    letter-spacing: -1px;
}
address {
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;

}

h3 {
    text-transform: uppercase;
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

#contact {
    display: flex;
    margin-right: 80px;
}

.rose {
    color: #E53F6F;
}

#contact > a {
    margin-right: 15px;
}